@import 'init';

/***********************************************************************
base rule
**********************************************************************/

/* reset
----------------------------------------------------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
}

html {
  height: 100%;
  font-size: 62.5%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
main, section {
  display: block;
}

body {
  color: $txtColor;
  letter-spacing: 0;
  font-size: 1.6rem;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', Osaka, sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, td, th, address {
  font-weight: normal;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: top;
}

table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  vertical-align: top;
  text-align: left;
}

caption, th {
  text-align: left;
}

address, caption, cite, code, dfn, em, th, var {
  font-weight: normal;
  font-style: normal;
}

sup {
  vertical-align: text-top;
  font-size: 62.5%;
}

input,
textarea {
  font-family: inherit;
}

/* link
----------------------------------------------------------------------*/

a {
  color: inherit;

  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
  }
}
