@import 'init';

/***********************************************************************
layout rule
**********************************************************************/

/* .l-container
----------------------------------------------------------*/
@include mq-pc {
  .l-container {
    width: 960px;
    margin: 0 auto;
  }
}
@include mq-tb {
  .l-container {
    width: 760px;
    margin: 0 auto;
  }
}
@include mq-sp {
  .l-container {
    padding: 0 10px;
  }
}


/* .l-header
----------------------------------------------------------*/
.l-header {
  padding: 3.0rem 0 5.0rem;
}

/* .l-footer
----------------------------------------------------------*/
.l-footer {
  padding: 1.0rem 0;
}
