@import 'init';

/***********************************************************************
module rule
**********************************************************************/

/* logo
----------------------------------------------------------*/
.m-logo {
  .m-logo_txt {
    display: inline-block;
    font-size: 2.0rem;
    font-weight: bold;
    border-bottom: 5px solid $txtColor;
    padding-bottom: 0.5rem;
    line-height: 1.0;
    @include linkTxt02;
  }
}
@include mq-sp {
  .m-logo {
    text-align: center;
  }
}


/* .m-article
----------------------------------------------------------*/
.m-article {
  .m-article_date {
    font-weight: bold;
  }
  .m-article_content {
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 3.0rem;
    }
    h2 {
      font-size: 2.0rem;
      font-weight: bold;
      border-left: 10px solid $txtColor;
      padding-left: 1rem;
      line-height: 1.3;
      margin: 2.0rem 0 1.0rem;
    }
    h3 {
      font-size: 1.8rem;
      font-weight: bold;
      border-bottom: 1px solid #999;
    }
    a {
      @include linkTxt01;
    }
    p, pre, table, ul, ol {
      margin: 1.0rem 0;
    }
    pre {
      border: 1px solid #999;
      background: #fafafa;
      font-size: 1.6rem;
      padding: 0.5rem;
      overflow-x: scroll;
    }
  }
}
@include mq-not-sp {
  .m-article {
    display: table;
    width: 100%;
    .m-article_date {
      display: table-cell;
      vertical-align: top;
      width: 150px;
    }
    .m-article_content {
      display: table-cell;
      vertical-align: top;
    }
  }
}


/* .m-articleList
----------------------------------------------------------*/
.m-articleList {
  .m-articleList_item {
  }
  .m-articleList_itemLink {
    font-size: 1.8rem;
    @include linkTxt02;
  }
  .m-articleList_itemDate {
    font-weight: bold;
  }
  .m-articleList_itemTit {
    font-weight: bold;
  }
}
@include mq-not-sp {
  .m-articleList {
    .m-articleList_item {
    }
    .m-articleList_itemLink {
      display: table;
      width: 100%;
    }
    .m-articleList_itemDate {
      display: table-cell;
      width: 120px;
    }
    .m-articleList_itemTit {
      display: table-cell;
    }
  }
}
@include mq-not-sp {
  .m-articleList {
    .m-articleList_item {
    }
    .m-articleList_itemLink {
    }
    .m-articleList_itemDate {
    }
    .m-articleList_itemTit {
    }
  }
}
