@import 'init';

/***********************************************************************
utility rule
**********************************************************************/

/* clearfix
----------------------------------------------------------------------*/

.u-cf:after {
  display: block;
  clear: both;
  content: '';
}

/* imghover
----------------------------------------------------------------------*/

.u-ov:hover img {
  opacity: .8;
}

/* linkTxt01
----------------------------------------------------------*/
.u-linkTxt01 {
  @include linkTxt01;
}

/* linkTxt02
----------------------------------------------------------*/
.u-linkTxt02 {
  @include linkTxt02;
}
