@import 'variables';

@mixin mq-pc {
  @media only screen and (min-width: 1000px) {
    @content
  }
};
@mixin mq-tb {
  @media only screen and (min-width: 768px) and (max-width: 999px) {
    @content
  }
};
@mixin mq-sp {
  @media only screen and (max-width: 767px) {
    @content
  }
};


@mixin linkTxt01 {
  color: $linkColor;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
};
@mixin linkTxt02 {
  &:hover {
    color: $linkColor;
    border-color: $linkColor;
  }
};
